body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background:#0bda;
    margin: 20px;
}

/*
Puedo encontrar mas colores en 
RGBA COLOR PICKER - HTML color codes
EN rgb es la propiedad de rgb(0,0,0) y 3 valores
*/

/*
Ahora en hexadecimal es poner un 
#RRGGBB
*/

.hsl{
    padding: 50px;
    width: 50px;
    height: 50px;
    background:#0bda;
    margin: 20px;
    margin-left: 100px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;

}