.formulario {
    background: red;
    padding: 30px ;
}

.formulario_input{
    padding: 9px 10px ;
    width: 90%;
    background: black;
    margin: 10px;
    color: blue;
}

.formulario_submit{
    letter-spacing: 2px;;
    text-transform: uppercase;
    background-color: rgb(236, 109, 109);
    color: black;
    width: 50%;
}
