body{
    background-color: #fff;
    font-family: sans-serif;
}

.card {
    background: #0ae;
    text-align: center;
    width: 300px;
    margin: auto; /*Para centrar el elementos de forma horizontal*/
    margin-top: 50px;
    padding: 20px;
    box-shadow: 20px 25px 15px #0008;
    border-radius: 10px;
    display: inline-block;
    margin: 44px;
}

.red-card{
    background-color: #f22;
}

.green-card{
    background-color: #2a4;
}

.card_title{
    font-size: 22px;
    margin:0;
}

.card_subtitle{
    font-size: 13px;
    font-weight: 100px;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}

.card_content{
    font-size: 10px;
    padding: 10px;
    padding-bottom: 0;
    text-align: justify;
    margin-bottom: 0px;
}

.card_img{
    width: 100px;
    border-radius: 50%;
}
